.posts {
    border-radius: 10px;
    background: url('../../public/assets/mar.png');
    background-size: cover;
    width: 1200px;
    height: 740px;
    margin: 10% auto 4% auto;
}

.posts .post {
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #0505056A;
    padding: 5%;
}

.posts .post h1,
.posts .post p {
    color: white;
}

.posts .post .autor {
    position: absolute;
    display: flex;
    align-items: center;
}

.posts .post .autor img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.posts .post .autor p {
    margin-left: 5px;
    letter-spacing: 2px;
}

.posts .post .textos {
    margin-top: auto;
}

.posts .post .textos h1 {
    max-width: 800px;
    font-size: 73px;
}

.posts .post .textos p {
    max-width: 715px;
    margin: 4% 0;
    font-size: 22px;
}

@media screen and (max-width: 1366px) {
    .posts {
        width: 830px;
        height: 512px;
    }
    .posts .post .autor img {
        width: 30px;
        height: 30px;
    }
    .posts .post .autor p {
        font-size: 14px;
    }
    .posts .post .textos h1 {
        font-size: 60px;
        max-width: 553px;
    }
    .posts .post .textos p {
        max-width: 495px;
        font-size: 15px;
    }
}

/*---------------------------------------------------------------*/

.ultimosposts {
    width: 100%;
    background-color: #EAEAEA;
    padding: 1%;
}

.ultimosposts h1 {
    text-align: center;
    font-size: 64px;
    padding: 4% 0;
}

.ultimosposts .lista {
    display: flex;
    flex-wrap: wrap;
}

.ultimosposts .boxes {
    display: flex;
    justify-content: center;
}

.ultimosposts .lista .postagem {
    width: 573px;
    height: 765px;
    border-radius: 10px;
    background-color: white;
    margin: 0 1% 2.5% 1%;
    max-width: 47%;
}

.ultimosposts .lista .postagem .post-textos {
    padding: 5%;
}

.ultimosposts .lista .postagem .post-textos a {
    border: 1px dotted #bbbbbb;
    border-radius: 15px;
    color: #3F51B5;
    padding: 5%;
    font-size: 22px;
}

.ultimosposts .lista .postagem img {
    height: 364px;
}

.ultimosposts .boxes .lista h2 {
    font-size: 16px;
    color: #33439B;
    font-weight: bold;
    letter-spacing: 1px;
}

.ultimosposts .boxes .lista h1 {
    font-size: 42px;
    text-align: left;
}

.ultimosposts .boxes .lista p {
    font-size: 20px;
    margin-bottom: 30px;
}

.ultimosposts .maislidas {
    display: block;
    max-width: 33%;
}

.ultimosposts .maislidas h1 {
    color: white;
    letter-spacing: 2px;
    border-radius: 10px 10px 0 0;
    background-color: #3F51B5;
    font-size: 27px;
}

.ultimosposts .lista2 .maislida {
    width: 100%;
    background-color: white;
    height: auto;
    padding: 5% 5% 1% 5%;
    display: flex;
}

.ultimosposts .lista2 .maislida .maislida-textos {
    display: block;
    padding: 4%;
}

.ultimosposts .lista2 .maislida img {
    width: 195px;
    height: 189px;
}

.ultimosposts .lista2 .maislida h2 {
    letter-spacing: 2px;
    font-size: 16px;
    color: #40BE65;
    margin-bottom: 15px;
}

.ultimosposts .lista2 .maislida p {
    color: #7B8591;
    font-size: 18px;
}

@media screen and (max-width: 1366px) {
    .ultimosposts h1 {
        font-size: 48px;
    }
    .ultimosposts .boxes .maislidas h1 {
        font-size: 24px;
    }
    .ultimosposts .lista .postagem {
        width: 410px;
        height: 573px;
    }
    .ultimosposts .lista .postagem img {
        height: 260px;
        width: 100%;
    }
    .ultimosposts .boxes .lista h2 {
        font-size: 14px;
    }
    .ultimosposts .boxes .lista h1 {
        font-size: 32px;
        text-align: left;
    }
    .ultimosposts .boxes .lista p {
        font-size: 15px;
    }
    .ultimosposts .lista .postagem .post-textos a {
        font-size: 16px;
    }
    .ultimosposts .lista2 .maislida img {
        width: 146px;
        height: 142px;
    }
    .ultimosposts .lista2 .maislida h2 {
        font-size: 14px;
    }
    .ultimosposts .lista2 .maislida p {
        font-size: 14px;
    }
}