.posts {
    border-radius: 10px;
    width: 63%;
    height: auto;
    margin: 8% auto 4% auto;
    position: relative;
}

.posts img[alt=background] {
    position: absolute;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.posts .post {
    display: flex;
    border-radius: 10px;
    background-color: #0505056A;
    padding: 5%;
}

.posts .post h1,
.posts .post p {
    color: white;
}

.posts .post .autor {
    position: absolute;
    display: flex;
    align-items: center;
}

.posts .post .autor img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.posts .post .autor p {
    margin-left: 5px;
    letter-spacing: 2px;
}

.posts .post .textos {
    margin-top: auto;
}

.posts .post .textos h1 {
    max-width: 76%;
    font-size: 71px;
    margin-top: 22.5%;
}

.posts .post .textos p {
    max-width: 65%;
    margin: 4% 0;
    font-size: 22px;
}

@media screen and (max-width: 1450px) {
    .posts .post .autor p {
        font-size: 14px;
    }
    .posts .post .textos h1 {
        font-size: 63px;
    }
    .posts .post .textos p {
        font-size: 17px;
    }
}

@media screen and (max-width: 1366px) {
    .posts {
        margin: 10% auto 4% auto;
    }
    .posts .post .autor img {
        width: 30px;
        height: 30px;
    }
    .posts .post .autor p {
        font-size: 14px;
    }
    .posts .post .textos h1 {
        font-size: 56px;
    }
    .posts .post .textos p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    .posts .post .autor p {
        font-size: 12px;
    }
    .posts .post .textos h1 {
        font-size: 50px;
    }
    .posts .post .textos p {
        font-size: 15px;
    }
}

@media screen and (max-width: 1030px) {
    .posts .post .autor p {
        font-size: 12px;
    }
    .posts .post .textos h1 {
        font-size: 44px;
    }
    .posts .post .textos p {
        font-size: 14px;
    }
}

@media screen and (max-width: 880px) {
    .posts {
        margin: 14% auto 4% auto;
        width: 73%;
    }
    .posts .post .autor p {
        font-size: 12px;
    }
    .posts .post .textos h1 {
        font-size: 37px;
    }
    .posts .post .textos p {
        font-size: 12px;
    }
}

@media screen and (max-width: 690px) {
    .posts {
        margin: 16% auto 4% auto;
    }
    .posts .post .autor img {
        width: 23px;
        height: 23px;
    }
    .posts .post .autor p {
        font-size: 9px;
    }
    .posts .post .textos h1 {
        font-size: 30px;
    }
    .posts .post .textos p {
        font-size: 11px;
    }
}

@media screen and (max-width: 560px) {
    .posts {
        margin: 18% auto 4% auto;
    }
    .posts .post .autor img {
        width: 20px;
        height: 20px;
    }
    .posts .post .autor p {
        font-size: 8px;
    }
    .posts .post .textos h1 {
        font-size: 25px;
    }
    .posts .post .textos p {
        font-size: 10px;
    }
}

@media screen and (max-width: 490px) {
    .posts {
        margin: 20% auto 4% auto;
    }
    .posts .post .autor img {
        width: 16px;
        height: 16px;
    }
    .posts .post .autor p {
        font-size: 7px;
    }
    .posts .post .textos h1 {
        font-size: 21px;
    }
    .posts .post .textos p {
        font-size: 9px;
    }
}

@media screen and (max-width: 415px) {
    .posts {
        margin: 23% auto 4% auto;
    }
    .posts .post .autor img {
        width: 15px;
        height: 15px;
    }
    .posts .post .autor p {
        font-size: 6px;
    }
    .posts .post .textos h1 {
        font-size: 18px;
    }
    .posts .post .textos p {
        font-size: 8px;
    }
}

@media screen and (max-width: 380px) {
    .posts {
        margin: 26.5% auto 4% auto;
    }
    .posts .post .autor img {
        width: 12px;
        height: 12px;
    }
    .posts .post .autor p {
        font-size: 5px;
    }
    .posts .post .textos h1 {
        font-size: 16px;
    }
    .posts .post .textos p {
        font-size: 7px;
    }
}

/*---------------------------------------------------------------*/

.ultimosposts {
    width: 100%;
    background-color: #EAEAEA;
    padding: 1%;
}

.ultimosposts h1 {
    text-align: center;
    font-size: 64px;
    padding: 4% 0;
}

.ultimosposts .lista {
    display: flex;
    flex-wrap: wrap;
}

.ultimosposts .boxes {
    display: flex;
    justify-content: center;
}

.ultimosposts .lista .postagem {
    width: 573px;
    height: 765px;
    border-radius: 10px;
    background-color: white;
    margin: 0 1% 2.5% 1%;
    max-width: 47%;
}

.ultimosposts .lista .postagem .post-textos {
    padding: 5%;
}

.ultimosposts .lista .postagem .post-textos a {
    border: 1px dotted #bbbbbb;
    border-radius: 15px;
    color: #3F51B5;
    padding: 5%;
    font-size: 22px;
}

.ultimosposts .lista .postagem img {
    width: 100%;
    height: 220px;
    border-radius: 10px 10px 0 0;
}

.ultimosposts .boxes .lista h2 {
    font-size: 16px;
    color: #33439B;
    font-weight: bold;
    letter-spacing: 1px;
}

.ultimosposts .boxes .lista h1 {
    font-size: 42px;
    text-align: left;
}

.ultimosposts .boxes .lista p {
    font-size: 20px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1366px) {
    .ultimosposts h1 {
        font-size: 48px;
    }
    .ultimosposts .lista .postagem {
        width: 410px;
        height: 573px;
    }
    .ultimosposts .boxes .lista h2 {
        font-size: 14px;
    }
    .ultimosposts .boxes .lista h1 {
        font-size: 32px;
        text-align: left;
    }
    .ultimosposts .boxes .lista p {
        font-size: 15px;
    }
    .ultimosposts .lista .postagem .post-textos a {
        font-size: 16px;
    }
}

@media screen and (max-width: 1100px) {
    .ultimosposts h1 {
        font-size: 36px;
    }
    .ultimosposts .lista .postagem h2 {
        font-size: 14px;
    }
    .ultimosposts .lista .postagem h1 {
        font-size: 25px;
    }
    .ultimosposts .lista .postagem p {
        font-size: 14px;
    }
    .ultimosposts .lista .postagem {
        height: 490px;
    }
}

@media screen and (max-width: 880px) {
    .ultimosposts h1 {
        font-size: 32px;
        padding: 8% 0;
    }
    .ultimosposts .boxes {
        display: block;
    }
    .ultimosposts .lista .postagem {
        max-width: 75%;
        margin: auto;
        margin-bottom: 25px;
        height: 458px;
    }
    .ultimosposts .lista .postagem h2 {
        font-size: 12.5px;
    }
    .ultimosposts .lista .postagem h1 {
        font-size: 21.5px;
    }
    .ultimosposts .lista .postagem p {
        font-size: 13px;
    }
    .ultimosposts .lista .postagem .post-textos a {
        padding: 4%;
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    .ultimosposts h1 {
        font-size: 23px;
    }
    .ultimosposts .lista .postagem p {
        font-size: 12px;
    }
}