@use "sass:math";

@mixin responsive($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

@mixin fontSize($min-font-size: 12px, $max-font-size: 31px, $lower-range: 340px, $upper-range: 1920px) {

    font-size: calc(#{$min-font-size} + #{(math.div($max-font-size, ($max-font-size * 0 + 1)) - math.div($min-font-size, ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(math.div($upper-range, ($upper-range * 0 + 1)) - math.div($lower-range, ($lower-range * 0 + 1)))}));
    
    @media screen and (max-width: $lower-range) {
      font-size: $min-font-size;
    }
    @media screen and (min-width: $upper-range){
      font-size: $max-font-size;
    }
}

@import 'faq', 'features', 'home', 'footer', 'header', 'stats';