.buscares {
    height: auto;
    width: 65%;
    display: block;
    border-radius: 10px 10px 0 0;
    margin: 8% auto 4% auto;
    @include responsive(1366px) { margin: 10% auto 4% auto; }
    @include responsive(880px) { margin: 14% auto 4% auto; width: 75%; }
    @include responsive(690px) { margin: 16% auto 4% auto; }
    @include responsive(560px) { margin: 18% auto 4% auto; }
    @include responsive(490px) { margin: 20% auto 4% auto; }
    @include responsive(415px) { margin: 23% auto 4% auto; }
    @include responsive(380px) { margin: 26.5% auto 4% auto; }

    &__header {
        background-color: #006385;
        padding: 3% 5%;
        text-align: center;
        border-radius: 10px 10px 0 0;

        h1 {
            color: white;
            font-weight: bold;
            @include fontSize(14px, 38px, 345px, 1920px)
        }
    }

    &__encontrados {
        display: block;

        &__resultado {
            display: flex;
            width: 100%;
            background-color: white;
            padding: 4%;
            &:last-child {
                border-radius: 0 0 10px 10px;
            }
            @include responsive(700px) { display: block; }

            img {
                width: 33%;
                border-radius: 10px;
                margin: auto;
                max-height: 200px;
                @include responsive(700px) { width: 100%; margin-bottom: 8px; }
            }

            &__textos {
                padding: 1% 1% 0 2.5%;

                h1 {
                    margin-bottom: 8px;
                    color: black;
                    @include fontSize(15px, 36px, 345px, 1920px)
                }
                p {
                    @include fontSize(11px, 26px, 345px, 1920px)
                }
            }
        }
    }
}