@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #ffffff;
}

::placeholder {
  color: white;
}

/*---------------------------------------*/

header {
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #0aacdc;
  width: 100%;
  height: 80px;
  padding: 0 5%;
}

header nav {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

header nav img {
  cursor: pointer;
}

header nav a {
  cursor: auto;
}

header nav p {
  margin-left: 30%;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

header nav form input {
  background-color: #008BB4;
  border-radius: 10px;
  padding: 10%;
  color: white;
  outline: none;
  border: none;
  background-image: url('../public/assets/search.svg');
  background-size: 20px;
  background-position: 10px center;
  background-repeat: no-repeat;
  text-indent: 22px;
}

@media screen and (max-width: 910px) {
  header {
    height: 70px;
  }
  header nav p {
    font-size: 35px;
  }
  header nav form input {
    padding: 8%;
  }
  header nav img {
    width: 24px;
    height: 20px;
  }
}

@media screen and (max-width: 700px) {
  header {
    height: 65px;
  }
  header nav p {
    font-size: 32px;
  }
  header nav form input {
    padding: 7%;
  }
  header nav img {
    width: 23px;
    height: 19px;
  }
}

@media screen and (max-width: 610px) {
  header {
    height: 60px;
  }
  header nav p {
    font-size: 30px;
  }
  header nav form input {
    max-width: 130px;
    padding: 6% 10% 6% 10%;
  }
  header nav img {
    width: 23px;
    height: 19px;
  }
}

@media screen and (max-width: 550px) {
  header {
    height: 55px;
  }
  header nav p {
    font-size: 25px;
    margin-left: 5%;
  }
  header nav img {
    width: 21px;
    height: 17px;
  }
  header nav form input {
    background-position: 10px center;
    max-width: 40px;
    text-indent: 0;
    padding-top: 18%;
    padding-bottom: 18%;
  }
  header nav form input:focus {
    background-size: 0px;
    max-width: 65px;
  }
}

/*---------------------------------------*/

.footer {
  display: flex;
  height: 50px;
  background-color: #008BB4;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 1366px) {
  .footer p {
    font-size: 16px;
  }
}

/*---------------------------------------*/

div.maislidas {
  display: block;
  max-width: 33%;
}

div.maislidas h1 {
  text-align: center;
  padding: 4%;
  color: white;
  letter-spacing: 2px;
  border-radius: 10px 10px 0 0;
  background-color: #3F51B5;
  font-size: 27px;
}

.lista2 .maislida {
  width: 100%;
  background-color: white;
  height: auto;
  padding: 5% 5% 1% 5%;
  display: flex;
}

.lista2 .maislida .maislida-textos {
  display: block;
  padding: 4%;
}

.lista2 .maislida img {
  width: 37%;
  height: 37%;
}

.lista2 .maislida h2 {
  letter-spacing: 2px;
  font-size: 16px;
  color: #40BE65;
  margin-bottom: 15px;
}

.lista2 .maislida p {
  color: #7B8591;
  font-size: 18px;
}

@media screen and (max-width: 1366px) {
  div.maislidas h1 {
      font-size: 24px;
  }
  .lista2 .maislida h2 {
      font-size: 14px;
  }
  .lista2 .maislida p {
      font-size: 14px;
  }
}

@media screen and (max-width: 1100px) {
  div.maislidas h1 {
      font-size: 17px;
  }
  div.maislidas h2 {
      font-size: 10.5px;
  }
  div.maislidas p {
      font-size: 10px;
  }
}

@media screen and (max-width: 880px) {
  div.maislidas {
    max-width: 75%;
    margin: auto;
    margin-bottom: 20px;
}
  div.maislidas h1 {
      font-size: 15px;
  }
  div.maislidas h2 {
      font-size: 9px;
  }
  div.maislidas p {
      font-size: 9px;
  }
}